Data Modeling and Evaluation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

desc_features = ['Sales', 'Quantity', 'Discount', 'Profit']
target_feature = 'Category'
target_levels = []
col = pd.read_excel('DataPostProcess.xlsx', nrows=0).columns
df = pd.read_excel('DataPostProcess.xlsx', names = col, index_col='Row ID')
df.head()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,
1,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,0.495626,0.276251,0.000000,0.703753
2,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",0.009605,0.138125,0.000000,0.476751
3,CA-2016-138688,DV-13045,Corporate,Los Angeles,California,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,0.648507,0.552502,0.790713,0.060651
4,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,0.014855,0.138125,0.351428,0.472103
5,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,0.032804,0.828753,0.000000,0.484539

Testing and Training

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df[desc_features], df[target_feature], test_size=0.25)
display(X_train, X_test, Y_train, Y_test)

           Sales  Quantity  Discount    Profit
Row ID
50      0.050637  0.690627  0.000000  0.507126
3736    0.087767  0.138125  0.000000  0.536000
644     0.004090  0.000000  0.000000  0.472806
9058    0.246853  0.276251  0.351428  0.498614
6007    0.086392  0.276251  0.000000  0.492631
...          ...       ...       ...       ...
4973    0.059844  0.138125  0.351428  0.502574
3054    0.003277  0.138125  0.000000  0.472010
7131    0.174467  0.276251  0.000000  0.540988
3437    0.010670  0.138125  1.000000  0.460346
8826    0.017803  0.552502  0.351428  0.479398

[7495 rows x 4 columns]

           Sales  Quantity  Discount    Profit
Row ID
8825    0.004382  0.276251  0.351428  0.472092
3350    0.060658  0.276251  0.000000  0.489581
4583    0.005296  0.138125  0.000000  0.473473
4651    0.132337  0.414376  0.000000  0.573874
3850    0.057941  0.828753  0.000000  0.512533
...          ...       ...       ...       ...
2545    0.139220  0.414376  0.000000  0.471615
7291    0.017322  1.000000  0.000000  0.482464
1645    0.141782  0.138125  0.000000  0.576837
840     0.007505  0.414376  0.000000  0.472983
4113    0.005700  0.276251  0.351428  0.472607

[2499 rows x 4 columns]

Row ID
50      Office Supplies
3736          Furniture
644          Technology
9058          Furniture
6007         Technology
             ...
4973          Furniture
3054         Technology
7131    Office Supplies
3437          Furniture
8826    Office Supplies
Name: Category, Length: 7495, dtype: object

Row ID
8825    Office Supplies
3350    Office Supplies
4583    Office Supplies
4651    Office Supplies
3850         Technology
             ...
2545    Office Supplies
7291    Office Supplies
1645         Technology
840     Office Supplies
4113    Office Supplies
Name: Category, Length: 2499, dtype: object