Data Modeling and Evaluation

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

desc_features = ['Sales', 'Quantity', 'Discount', 'Profit']
target_feature = 'Category'
cat_features = ['Order ID', 'Customer ID', 'Segment', 'City', 'State', 'Postal Code', 'Product ID', 'Sub-Category', 'Product Name']
target_levels = []
col = pd.read_excel('DataPostProcess.xlsx', nrows=0).columns
df = pd.read_excel('DataPostProcess.xlsx', names = col, index_col='Row ID')
df.head()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,
1,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,0.177190,0.138125,0.000000,0.514147
2,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",0.495626,0.276251,0.000000,0.703753
3,CA-2016-138688,DV-13045,Corporate,Los Angeles,California,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,0.009605,0.138125,0.000000,0.476751
4,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,0.648507,0.552502,0.790713,0.060651
5,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,0.014855,0.138125,0.351428,0.472103

Testing and Training

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df[desc_features], df[target_feature], test_size=0.25)
display(X_train, X_test, Y_train, Y_test)

           Sales  Quantity  Discount    Profit
Row ID
8350    0.016164  0.552502  0.000000  0.480569
6921    0.241442  0.828753  0.000000  0.576031
4813    0.812744  0.414376  0.702856  0.661508
3304    0.001016  0.276251  1.000000  0.467896
6762    0.171637  0.138125  0.175714  0.502517
...          ...       ...       ...       ...
7263    0.021855  0.552502  0.702856  0.462438
7165    0.006415  0.276251  0.351428  0.472988
857     0.069013  1.000000  0.000000  0.497803
1323    0.049025  0.552502  0.000000  0.490394
3895    0.006461  0.552502  1.000000  0.451844

[7495 rows x 4 columns]

           Sales  Quantity  Discount    Profit
Row ID
4994    0.012188  0.966878  0.351428  0.475811
6617    0.014944  0.690627  0.000000  0.480943
5816    0.189386  0.414376  0.000000  0.553073
5091    0.005651  0.000000  0.351428  0.472816
4101    0.001233  0.000000  1.000000  0.463861
...          ...       ...       ...       ...
329     0.532758  0.414376  0.527142  0.193547
3644    0.031747  0.138125  0.000000  0.482542
2448    0.333620  0.552502  0.527142  0.454391
4802    0.006732  0.138125  1.000000  0.461294
2193    0.043970  0.276251  0.000000  0.493823

[2499 rows x 4 columns]

Row ID
8350          Furniture
6921    Office Supplies
4813         Technology
3304    Office Supplies
6762          Furniture
             ...
7263         Technology
7165    Office Supplies
857     Office Supplies
1323    Office Supplies
3895    Office Supplies
Name: Category, Length: 7495, dtype: object

Row ID
4994    Office Supplies
6617    Office Supplies
5816         Technology
5091    Office Supplies
4101    Office Supplies
             ...
329           Furniture
3644    Office Supplies
2448          Furniture
4802    Office Supplies
2193    Office Supplies
Name: Category, Length: 2499, dtype: object

Determine if sampling is needed by seeing how much data is each class in our target feature.

In [10]:
df.groupby('Category').count()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Category,,,,,,,,,,,,,
Furniture,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121
Office Supplies,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026
Technology,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847

As there is an uneven distribution in our dataset as Office Supplies are a majority we will be sampling with sklearns class_weight.

# Evaluation methods: 
- Information-Based Learning 
  - Decision Tree
- Similarity-Based Learning
  - Weighted KNN
- Probability-Based Learning
  - Guassian Naive Bayes

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Decision Tree
Utilizing the gini criterion as it is computationally less expensive, and roughly the same accuracy as entropy.

In [12]:
clf = DecisionTreeClassifier(max_depth = 13, criterion = 'gini', random_state=0, class_weight = 'balanced')
clf.fit(X_train,Y_train)
display(clf.fit)
y_pred = clf.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

array(['Office Supplies', 'Office Supplies', 'Technology', ...,
       'Furniture', 'Furniture', 'Technology'], dtype=object)

Accuracy is

0.7150860344137655

Error rate is

0.2849139655862345

                 Technology  Office Supplies  Furniture
Technology              303              104         71
Office Supplies         203             1162        126
Furniture               100              108        322

# KNN

In [13]:
results = pd.DataFrame(columns=['K-Value', 'Testing Accuracy'])

for kvalue in range (1,151):
    knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
    #fits the training data to the model
    knc.fit(X_train, Y_train)
    #makes predictions based on X data
    target_pred = knc.predict(X_test)
    #stores results in a dataframe
    results.loc[kvalue] = [kvalue, accuracy_score(Y_test, target_pred)]
kvalue = int(results.loc[results['Testing Accuracy'].idxmax()]['K-Value'])
print('k-value: '+str(kvalue))
knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
knc.fit(X_train, Y_train)
y_pred = knc.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

k-value: 1

array(['Office Supplies', 'Office Supplies', 'Furniture', ...,
       'Furniture', 'Furniture', 'Furniture'], dtype=object)

Accuracy is

0.7595038015206083

Error rate is

0.24049619847939174

                 Technology  Office Supplies  Furniture
Technology              301              113         64
Office Supplies         121             1261        109
Furniture                84              110        336

# Gaussian Naive Bayes

In [14]:
gaus = GaussianNB()
gaus.fit(X_train,Y_train)
y_pred = gaus.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

array(['Office Supplies', 'Office Supplies', 'Office Supplies', ...,
       'Office Supplies', 'Office Supplies', 'Office Supplies'],
      dtype='<U15')

Accuracy is

0.6198479391756703

Error rate is

0.38015206082432973

                 Technology  Office Supplies  Furniture
Technology               90              362         26
Office Supplies          77             1398         16
Furniture                70              399         61

# Hyper Parameter Optimization

In [21]:
from sklearn import set_config
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

set_config(display="diagram")
target = df[target_feature]
hyperdf = df.drop(columns = [target_feature])
data_train, data_test, target_train, target_test = train_test_split(hyperdf, target, random_state=42)
categorical_columns_selector = make_column_selector(dtype_include=object)
categorical_columns = categorical_columns_selector(hyperdf)
categorical_preprocessor = OrdinalEncoder(handle_unknown="use_encoded_value",unknown_value=-1)
preprocessor = ColumnTransformer([('cat_preprocessor', categorical_preprocessor, categorical_columns)],remainder='passthrough', sparse_threshold=0)
model = Pipeline([("preprocessor", preprocessor),("classifier",HistGradientBoostingClassifier(random_state=42, max_leaf_nodes=4))])
param_grid = {'classifier__learning_rate': (0.01, 0.1, 1, 10),'classifier__max_leaf_nodes': (3, 10, 30)}
model_grid_search = GridSearchCV(model, param_grid=param_grid,n_jobs=2, cv=2)
model_grid_search.fit(data_train, target_train)

GridSearchCV(cv=2,
             estimator=Pipeline(steps=[('preprocessor',
                                        ColumnTransformer(remainder='passthrough',
                                                          sparse_threshold=0,
                                                          transformers=[('cat_preprocessor',
                                                                         OrdinalEncoder(handle_unknown='use_encoded_value',
                                                                                        unknown_value=-1),
                                                                         ['Order '
                                                                          'ID',
                                                                          'Customer '
                                                                          'ID',
                                                                          'Segment',
                                                                          'City',
                                                                          'State',
                                                                          'Product '
                                                                          'ID',
                                                                          'Sub-Category',
                                                                          'Product '
                                                                          'Name'])])),
                                       ('classifier',
                                        HistGradientBoostingClassifier(max_leaf_nodes=4,
                                                                       random_state=42))]),
             n_jobs=2,
             param_grid={'classifier__learning_rate': (0.01, 0.1, 1, 10),
                         'classifier__max_leaf_nodes': (3, 10, 30)})

In [22]:
accuracy = model_grid_search.score(data_test, target_test)
print(
    f"The test accuracy score of the grid-searched pipeline is: "
    f"{accuracy:.2f}"
)

The test accuracy score of the grid-searched pipeline is: 0.97

In [23]:
model_grid_search.predict(data_test.iloc[0:5])

array(['Office Supplies', 'Office Supplies', 'Furniture', 'Furniture',
       'Furniture'], dtype=object)

In [24]:
print(f"The best set of parameters is: "
      f"{model_grid_search.best_params_}")

The best set of parameters is: {'classifier__learning_rate': 0.1, 'classifier__max_leaf_nodes': 3}

In [25]:
cv_results = pd.DataFrame(model_grid_search.cv_results_).sort_values(
    "mean_test_score", ascending=False)
cv_results.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_classifier__learning_rate,param_classifier__max_leaf_nodes,params,split0_test_score,split1_test_score,mean_test_score,std_test_score,rank_test_score
3,4.477921,0.239825,0.344041,0.050808,0.1,3,"{'classifier__learning_rate': 0.1, 'classifier...",0.903949,0.938084,0.921016,0.017068,1
4,10.533401,0.799380,0.368860,0.022914,0.1,10,"{'classifier__learning_rate': 0.1, 'classifier...",0.903949,0.897785,0.900867,0.003082,2
5,22.913082,0.340977,0.327980,0.012610,0.1,30,"{'classifier__learning_rate': 0.1, 'classifier...",0.903949,0.897785,0.900867,0.003082,2
1,14.544876,0.199636,0.387001,0.014816,0.01,10,"{'classifier__learning_rate': 0.01, 'classifie...",0.903682,0.897785,0.900733,0.002949,4
2,32.098164,1.276274,0.535273,0.081548,0.01,30,"{'classifier__learning_rate': 0.01, 'classifie...",0.903682,0.897785,0.900733,0.002949,4

In [27]:
column_results = [f"param_{name}" for name in param_grid.keys()]
column_results += [
    "mean_test_score", "std_test_score", "rank_test_score"]
cv_results = cv_results[column_results]
def shorten_param(param_name):
    if "__" in param_name:
        return param_name.rsplit("__", 1)[1]
    return param_name


cv_results = cv_results.rename(shorten_param, axis=1)
cv_results

,learning_rate,max_leaf_nodes,mean_test_score,std_test_score,rank_test_score
3,0.1,3,0.921016,0.017068,1
4,0.1,10,0.900867,0.003082,2
5,0.1,30,0.900867,0.003082,2
1,0.01,10,0.900733,0.002949,4
2,0.01,30,0.900733,0.002949,4
7,1,10,0.900333,0.002548,6
8,1,30,0.900333,0.002548,6
9,10,3,0.898865,0.004016,8
10,10,10,0.898865,0.004016,8
11,10,30,0.898865,0.004016,8
0,0.01,3,0.897931,0.003883,11
6,1,3,0.724640,0.173145,12

In [28]:
pivoted_cv_results = cv_results.pivot_table(
    values="mean_test_score", index=["learning_rate"],
    columns=["max_leaf_nodes"])

pivoted_cv_results

max_leaf_nodes        3         10        30
learning_rate
0.01            0.897931  0.900733  0.900733
0.10            0.921016  0.900867  0.900867
1.00            0.724640  0.900333  0.900333
10.00           0.898865  0.898865  0.898865

Hyperparameter is too costly, so for this business need it would not be the best choice as there is too many parameters and anything more than two which this method is going to be computationally too heavy.