Data Modeling and Evaluation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

desc_features = ['Sales', 'Quantity', 'Discount', 'Profit']
target_feature = 'Category'
cat_features = ['Order ID', 'Customer ID', 'Segment', 'City', 'State', 'Postal Code', 'Product ID', 'Sub-Category', 'Product Name']
target_levels = []
col = pd.read_excel('DataPostProcess.xlsx', nrows=0).columns
df = pd.read_excel('DataPostProcess.xlsx', names = col, index_col='Row ID')
df.head()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,
1,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,0.177190,0.138125,0.000000,0.514147
2,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",0.495626,0.276251,0.000000,0.703753
3,CA-2016-138688,DV-13045,Corporate,Los Angeles,California,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,0.009605,0.138125,0.000000,0.476751
4,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,0.648507,0.552502,0.790713,0.060651
5,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,0.014855,0.138125,0.351428,0.472103

Testing and Training

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df[desc_features], df[target_feature], test_size=0.25)
display(X_train, X_test, Y_train, Y_test)

           Sales  Quantity  Discount    Profit
Row ID
5563    1.000000  0.552502  0.000000  1.000000
6434    0.015635  0.552502  0.351428  0.478517
3460    0.364353  0.138125  1.000000  0.029079
8031    0.015334  0.276251  1.000000  0.457720
8899    0.335066  0.276251  0.000000  0.627886
...          ...       ...       ...       ...
1247    1.000000  1.000000  0.351428  0.613922
9525    0.056559  0.552502  0.351428  0.500763
9867    0.735126  0.828753  0.000000  0.770588
8996    0.102849  0.552502  0.351428  0.487695
8449    0.431906  0.276251  0.527142  0.333266

[7495 rows x 4 columns]

           Sales  Quantity  Discount    Profit
Row ID
3409    0.014833  0.414376  0.351428  0.477761
1517    1.000000  0.414376  0.000000  0.594142
1591    0.022389  0.828753  0.351428  0.475672
5754    0.586729  0.414376  0.000000  0.709817
6241    0.007656  0.000000  0.351428  0.473491
...          ...       ...       ...       ...
9796    0.002273  0.276251  1.000000  0.463135
9604    0.255045  0.276251  0.702856  0.241511
9642    0.138529  0.552502  0.000000  0.469418
170     0.120290  0.552502  1.000000  0.000000
3292    0.007613  0.138125  0.000000  0.473157

[2499 rows x 4 columns]

Row ID
5563         Technology
6434    Office Supplies
3460    Office Supplies
8031          Furniture
8899         Technology
             ...
1247          Furniture
9525    Office Supplies
9867    Office Supplies
8996    Office Supplies
8449          Furniture
Name: Category, Length: 7495, dtype: object

Row ID
3409          Furniture
1517          Furniture
1591    Office Supplies
5754          Furniture
6241    Office Supplies
             ...
9796    Office Supplies
9604          Furniture
9642    Office Supplies
170     Office Supplies
3292    Office Supplies
Name: Category, Length: 2499, dtype: object

Determine if sampling is needed by seeing how much data is each class in our target feature.

In [3]:
df.groupby('Category').count()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Category,,,,,,,,,,,,,
Furniture,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121
Office Supplies,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026
Technology,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847

As there is an uneven distribution in our dataset as Office Supplies are a majority we will be sampling with sklearns class_weight.

# Evaluation methods: 
- Information-Based Learning 
  - Decision Tree
- Similarity-Based Learning
  - Weighted KNN
- Probability-Based Learning
  - Guassian Naive Bayes

In [4]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Decision Tree
Utilizing the gini criterion as it is computationally less expensive, and roughly the same accuracy as entropy.

In [5]:
clf = DecisionTreeClassifier(max_depth = 13, criterion = 'gini', random_state=0, class_weight = 'balanced')
clf.fit(X_train,Y_train)
display(clf.fit)
y_pred = clf.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

array(['Office Supplies', 'Furniture', 'Technology', ...,
       'Office Supplies', 'Office Supplies', 'Office Supplies'],
      dtype=object)

Accuracy is

0.7030812324929971

Error rate is

0.29691876750700286

                 Technology  Office Supplies  Furniture
Technology              279               84         74
Office Supplies         205             1151        161
Furniture                97              121        327

# KNN

In [6]:
results = pd.DataFrame(columns=['K-Value', 'Testing Accuracy'])

for kvalue in range (1,151):
    knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
    #fits the training data to the model
    knc.fit(X_train, Y_train)
    #makes predictions based on X data
    target_pred = knc.predict(X_test)
    #stores results in a dataframe
    results.loc[kvalue] = [kvalue, accuracy_score(Y_test, target_pred)]
kvalue = int(results.loc[results['Testing Accuracy'].idxmax()]['K-Value'])
print('k-value: '+str(kvalue))
knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
knc.fit(X_train, Y_train)
y_pred = knc.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

k-value: 1

array(['Office Supplies', 'Furniture', 'Office Supplies', ...,
       'Office Supplies', 'Office Supplies', 'Office Supplies'],
      dtype=object)

Accuracy is

0.7735094037615046

Error rate is

0.22649059623849543

                 Technology  Office Supplies  Furniture
Technology              289               94         54
Office Supplies         102             1314        101
Furniture                75              140        330

# Gaussian Naive Bayes

In [7]:
gaus = GaussianNB()
gaus.fit(X_train,Y_train)
y_pred = gaus.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

array(['Office Supplies', 'Technology', 'Office Supplies', ...,
       'Office Supplies', 'Furniture', 'Office Supplies'], dtype='<U15')

Accuracy is

0.6282513005202081

Error rate is

0.37174869947979194

                 Technology  Office Supplies  Furniture
Technology               75              339         23
Office Supplies          56             1439         22
Furniture                57              432         56