Data Modeling and Evaluation

In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

desc_features = ['Sales', 'Quantity', 'Discount', 'Profit']
target_feature = 'Category'
cat_features = ['Order ID', 'Customer ID', 'Segment', 'City', 'State', 'Postal Code', 'Product ID', 'Sub-Category', 'Product Name']
target_levels = []
col = pd.read_excel('DataPostProcess.xlsx', nrows=0).columns
df = pd.read_excel('DataPostProcess.xlsx', names = col, index_col='Row ID')
df.head()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,
1,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,0.177190,0.138125,0.000000,0.514147
2,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",0.495626,0.276251,0.000000,0.703753
3,CA-2016-138688,DV-13045,Corporate,Los Angeles,California,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,0.009605,0.138125,0.000000,0.476751
4,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,0.648507,0.552502,0.790713,0.060651
5,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,0.014855,0.138125,0.351428,0.472103

Testing and Training

In [153]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df[desc_features], df[target_feature], test_size=0.25)
display(X_train, X_test, Y_train, Y_test)

           Sales  Quantity  Discount    Profit
Row ID
9466    0.021354  0.138125  0.000000  0.471123
5475    0.508323  0.138125  0.000000  0.509474
3199    0.064722  0.414376  0.351428  0.479659
8105    0.525294  0.690627  0.351428  0.531506
856     0.026774  0.138125  0.000000  0.489461
...          ...       ...       ...       ...
5098    0.002816  0.138125  1.000000  0.460827
4749    0.023603  0.276251  0.000000  0.482219
4010    0.321150  1.000000  0.000000  0.682067
7570    0.032980  0.414376  0.000000  0.494055
9901    0.160344  0.276251  0.351428  0.491557

[7495 rows x 4 columns]

           Sales  Quantity  Discount    Profit
Row ID
4986    0.009456  0.552502  0.000000  0.476948
8329    0.097063  0.276251  0.000000  0.543028
2546    0.139220  0.414376  0.000000  0.471615
3549    0.022695  0.000000  0.000000  0.479197
5035    0.465448  0.552502  0.000000  0.520769
...          ...       ...       ...       ...
266     0.053835  0.138125  0.000000  0.506936
9365    0.243157  0.414376  0.000000  0.477087
2971    0.008692  0.966878  1.000000  0.458087
1492    0.003683  0.000000  0.000000  0.472492
5569    0.650137  0.138125  0.351428  0.827987

[2499 rows x 4 columns]

Row ID
9466          Furniture
5475    Office Supplies
3199         Technology
8105         Technology
856     Office Supplies
             ...
5098    Office Supplies
4749          Furniture
4010          Furniture
7570    Office Supplies
9901    Office Supplies
Name: Category, Length: 7495, dtype: object

Row ID
4986    Office Supplies
8329    Office Supplies
2546    Office Supplies
3549          Furniture
5035          Furniture
             ...
266          Technology
9365    Office Supplies
2971    Office Supplies
1492    Office Supplies
5569         Technology
Name: Category, Length: 2499, dtype: object

Determine if sampling is needed by seeing how much data is each class in our target feature.

In [154]:
df.groupby('Category').count()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Category,,,,,,,,,,,,,
Furniture,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121
Office Supplies,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026
Technology,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847

As there is an uneven distribution in our dataset as Office Supplies are a majority we will be sampling with sklearns class_weight.

# Evaluation methods: 
- Information-Based Learning 
  - Decision Tree
- Similarity-Based Learning
  - Weighted KNN
- Probability-Based Learning
  - Guassian Naive Bayes

In [155]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Decision Tree
Utilizing the gini criterion as it is computationally less expensive, and roughly the same accuracy as entropy.

In [156]:
clf = DecisionTreeClassifier(max_depth = 13, criterion = 'gini', random_state=0, class_weight = 'balanced')
clf.fit(X_train,Y_train)
display(clf.fit)
y_pred = clf.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

array(['Office Supplies', 'Office Supplies', 'Office Supplies', ...,
       'Office Supplies', 'Office Supplies', 'Technology'], dtype=object)

Accuracy is

0.6778711484593838

Error rate is

0.3221288515406162

                 Technology  Office Supplies  Furniture
Technology              323               72         54
Office Supplies         288             1059        157
Furniture               144               90        312

# KNN

In [157]:
results = pd.DataFrame(columns=['K-Value', 'Testing Accuracy'])

for kvalue in range (1,151):
    knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
    #fits the training data to the model
    knc.fit(X_train, Y_train)
    #makes predictions based on X data
    target_pred = knc.predict(X_test)
    #stores results in a dataframe
    results.loc[kvalue] = [kvalue, accuracy_score(Y_test, target_pred)]
kvalue = int(results.loc[results['Testing Accuracy'].idxmax()]['K-Value'])
print('k-value: '+str(kvalue))
knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
knc.fit(X_train, Y_train)
y_pred = knc.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

k-value: 1

array(['Office Supplies', 'Office Supplies', 'Office Supplies', ...,
       'Office Supplies', 'Office Supplies', 'Technology'], dtype=object)

Accuracy is

0.7579031612645059

Error rate is

0.24209683873549415

                 Technology  Office Supplies  Furniture
Technology              265              126         58
Office Supplies         129             1282         93
Furniture                84              115        347

# Gaussian Naive Bayes

In [158]:
gaus = GaussianNB()
gaus.fit(X_train,Y_train)
target_pred = gaus.predict(X_test)
print("Accuracy score: "+str(accuracy_score(Y_test,target_pred)))

Accuracy score: 0.6186474589835934