Data Modeling and Evaluation

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

desc_features = ['Sales', 'Quantity', 'Discount', 'Profit']
target_feature = 'Category'
cat_features = ['Order ID', 'Customer ID', 'Segment', 'City', 'State', 'Postal Code', 'Product ID', 'Sub-Category', 'Product Name']
target_levels = []
col = pd.read_excel('DataPostProcess.xlsx', nrows=0).columns
df = pd.read_excel('DataPostProcess.xlsx', names = col, index_col='Row ID')
df.head()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,
1,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,0.177190,0.138125,0.000000,0.514147
2,CA-2016-152156,CG-12520,Consumer,Henderson,Kentucky,42420,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",0.495626,0.276251,0.000000,0.703753
3,CA-2016-138688,DV-13045,Corporate,Los Angeles,California,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,0.009605,0.138125,0.000000,0.476751
4,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,0.648507,0.552502,0.790713,0.060651
5,US-2015-108966,SO-20335,Consumer,Fort Lauderdale,Florida,33311,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,0.014855,0.138125,0.351428,0.472103

Testing and Training

In [149]:
df[target_feature] = df[target_feature].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [146]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df[desc_features], df[target_feature], test_size=0.25)
display(X_train, X_test, Y_train, Y_test)

           Sales  Quantity  Discount    Profit
Row ID
6906    0.006935  0.000000  0.000000  0.472495
8501    0.065977  0.138125  0.000000  0.518482
3892    1.000000  0.690627  0.351428  0.694161
9641    0.013691  0.552502  0.000000  0.479555
6568    0.004523  0.552502  0.351428  0.470177
...          ...       ...       ...       ...
9147    0.067441  0.138125  0.000000  0.515298
4635    0.054567  0.000000  0.000000  0.472874
6780    0.009700  0.138125  0.000000  0.473986
3764    0.005472  0.276251  0.000000  0.473873
2747    0.474023  0.276251  0.527142  0.330672

[7495 rows x 4 columns]

           Sales  Quantity  Discount    Profit
Row ID
6712    0.006415  0.276251  0.351428  0.470740
5030    0.005350  0.276251  0.000000  0.471732
591     0.011096  0.276251  1.000000  0.455655
8723    0.000732  0.138125  1.000000  0.466571
868     0.010497  0.414376  0.351428  0.474945
...          ...       ...       ...       ...
725     0.030585  0.828753  0.351428  0.474890
821     0.020762  0.276251  1.000000  0.445090
5116    0.001938  0.000000  0.351428  0.470564
377     0.066869  0.414376  0.351428  0.502479
4302    0.005607  0.552502  0.351428  0.472558

[2499 rows x 4 columns]

Row ID
6906   NaN
8501   NaN
3892   NaN
9641   NaN
6568   NaN
        ..
9147   NaN
4635   NaN
6780   NaN
3764   NaN
2747   NaN
Name: Category, Length: 7495, dtype: float64

Row ID
6712   NaN
5030   NaN
591    NaN
8723   NaN
868    NaN
        ..
725    NaN
821    NaN
5116   NaN
377    NaN
4302   NaN
Name: Category, Length: 2499, dtype: float64

Determine if sampling is needed by seeing how much data is each class in our target feature.

In [130]:
df.groupby('Category').count()

,Order ID,Customer ID,Segment,City,State,Postal Code,Product ID,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Category,,,,,,,,,,,,,
Furniture,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121
Office Supplies,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026
Technology,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847

As there is an uneven distribution in our dataset as Office Supplies are a majority we will be sampling with sklearns class_weight.

# Evaluation methods: 
- Information-Based Learning 
  - Decision Tree
- Similarity-Based Learning
  - Weighted KNN
- Error-Based Learning
  - Multivariate Linear Regression

In [136]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Decision Tree
Utilizing the gini criterion as it is computationally less expensive, and roughly the same accuracy as entropy.

In [132]:
clf = DecisionTreeClassifier(max_depth = 13, criterion = 'gini', random_state=0, class_weight = 'balanced')
clf.fit(X_train,Y_train)
display(clf.fit)
y_pred = clf.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

array(['Technology', 'Furniture', 'Furniture', ..., 'Office Supplies',
       'Technology', 'Office Supplies'], dtype=object)

Accuracy is

0.7110844337735094

Error rate is

0.2889155662264906

                 Technology  Office Supplies  Furniture
Technology              342               80         55
Office Supplies         237             1149        118
Furniture               126              106        286

# KNN

In [141]:
results = pd.DataFrame(columns=['K-Value', 'Testing Accuracy'])

for kvalue in range (1,151):
    knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
    #fits the training data to the model
    knc.fit(X_train, Y_train)
    #makes predictions based on X data
    target_pred = knc.predict(X_test)
    #stores results in a dataframe
    results.loc[kvalue] = [kvalue, accuracy_score(Y_test, target_pred)]
kvalue = int(results.loc[results['Testing Accuracy'].idxmax()]['K-Value'])
print('k-value: '+str(kvalue))
knc = KNeighborsClassifier(n_neighbors=kvalue, metric='euclidean')
knc.fit(X_train, Y_train)
y_pred = knc.predict(X_test)
display(y_pred)
print("Accuracy is")
accuracy = accuracy_score(Y_test, y_pred)
display(accuracy)
print("Error rate is")
display(1-accuracy)
cm = confusion_matrix(Y_test, y_pred, labels = ["Technology", "Office Supplies", "Furniture"])
cm_df = pd.DataFrame(cm, columns = ["Technology", "Office Supplies", "Furniture"], index = ["Technology", "Office Supplies", "Furniture"])
display(cm_df)

k-value: 1

array(['Technology', 'Furniture', 'Furniture', ..., 'Office Supplies',
       'Office Supplies', 'Office Supplies'], dtype=object)

Accuracy is

0.7555022008803521

Error rate is

0.24449779911964786

                 Technology  Office Supplies  Furniture
Technology              272              131         74
Office Supplies          95             1307        102
Furniture                72              137        309

# Linear Regression

In [147]:
model = LinearRegression()
  
# fitting the model
model.fit(X_train, Y_train)
  
# making predictions
predictions = model.predict(X_test)
  
# model evaluation
print('mean_squared_error : ', mean_squared_error(Y_test, predictions))
print('mean_absolute_error : ', mean_absolute_error(Y_test, predictions))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').